<div class="container"> 
<div class="d-flex justify-content-center"> 
<div class="roe"> 

    <p id="notice"><%= notice %></p>

    <%= image_tag @host.avatar.url(:medium), class:'figure-img img-fluid rounded' %>

    <p>
      <strong>Nome:</strong>
      <%= @host.name %>
    </p>

    <p>
      <strong>Endereço:</strong>
      <%= @host.address %>
    </p>

    <%= link_to 'Show', @host,  class:"btn btn-info", :style => 'color: white';%> |
    <%= link_to 'Voltar', hosts_path, class:"btn btn-dark", :style => 'color: white';%>


  </div>
</div>
</div>

